<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project</title>
        <link rel="stylesheet" type="text/css" href="Main.css" />
        <link rel="SHORTCUT ICON" href="favicon.jpeg" type="image/x-icon">
    </head>
    <body>
        <div class="box-1">
            <a href="file:///C:/Users/Admin/Desktop/%D0%9D%D0%BE%D0%B2%D0%B0%D1%8F%20%D0%BF%D0%B0%D0%BF%D0%BA%D0%B0/Main1.html">
                PortfolioTracker
            </a>
        </div>
        <div class="img1">
            <img src="thumb-up-dynamic-color.png">
        </div>
        <div class="thank">
            Thank you for signing up!
        </div>
        <div class="let">
            lets continue
        </div>
        <div class="btn">
            <a href="file:///C:/Users/Admin/Desktop/%D0%9D%D0%BE%D0%B2%D0%B0%D1%8F%20%D0%BF%D0%B0%D0%BF%D0%BA%D0%B0/Profile.html">
                Login
            </a>
        </div>
        <script src="script.js"></script>
    </body>
</html>